<div
  class="app-button"
  [class.app-button--focused]="focused"
  [class.app-button--style-filled-primary]="style === 'filled-primary'"
  [class.app-button--style-filled-neutral]="style === 'filled-neutral'"
  [class.app-button--style-filled-danger]="style === 'filled-danger'"
  [class.app-button--style-text-neutral]="style === 'text-neutral'"
  [class.app-button--size-s]="size === 's'"
  [class.app-button--size-m]="size === 'm'"
  [class.app-button--size-l]="size === 'l'"
  [class.app-button--loading]="loadingState === 'loading'"
  [class.app-button--loading-error]="loadingState === 'error'"
  [class.app-button--loading-success]="loadingState === 'success'"
  [attr.disabled]="disabled || null"
>
  <div *ngIf="prefix" class="app-button__prefix">
    <ng-content select="fa-icon[appPrefix]"></ng-content>
  </div>

  <div class="app-button__loading">
    <app-loading-spinner
      class="app-button__loading-spinner"
      [color]="
        style === 'filled-danger' || style === 'filled-primary' || style === 'filled-neutral' ? 'on-tint' : 'regular'
      "
    ></app-loading-spinner>
  </div>

  <div class="app-button__content">
    <ng-content></ng-content>
  </div>

  <div *ngIf="suffix" class="app-button__suffix">
    <ng-content select="fa-icon[appSuffix]"></ng-content>
  </div>
</div>
