@import 'variables';

:host {
  @apply inline-block;
}

.app-button {
  $styleRegular: #{&}--style-regular;
  $styleText: #{&}--style-text;

  $colorRegular: #{&}--color-regular;
  $colorPrimary: #{&}--color-primary;
  $colorDanger: #{&}--color-danger;

  $loading: #{&}--loading;
  $loadingError: #{&}--loading-error;

  will-change: contents;

  &[disabled],
  &#{loading} {
    @apply cursor-default duration-500;
  }

  &#{$loadingError} {
    @apply animate-shake-error;
  }

  /* FILLED STYLE */
  &#{$styleRegular} {
    &#{$colorRegular} {
      &[disabled] {
        @apply bg-transparent text-neutral-soft;
      }

      @apply bg-neutral-bg-softer text-on-neutral-bg-soft border border-neutral-soft;
      @apply hover:bg-neutral-bg hover:text-on-neutral-bg-soft;
    }

    &#{$colorPrimary} {
      &[disabled] {
        @apply bg-primary-bg-soft text-primary-soft;
      }

      @apply bg-primary text-on-primary;
      @apply hover:bg-primary-soft hover:text-on-primary;
    }
  }

  /* TEXT STYLE */
  &#{$styleText} {
    &#{$colorRegular} {
      &[disabled] {
        @apply bg-transparent text-neutral-soft;
      }

      @apply bg-transparent text-on-neutral-bg-soft border border-transparent;
      @apply hover:bg-neutral-bg hover:text-on-neutral-bg-soft hover:border-neutral-soft;
    }
  }

  &__prefix {
    #{$loading} & {
      @apply opacity-0;
    }

    @apply mr-xs inline-flex align-middle transition-opacity;
  }

  &__suffix {
    #{$loading} & {
      @apply opacity-0;
    }

    @apply ml-xs inline-flex align-middle transition-opacity;
  }

  &__content {
    #{$loading} & {
      @apply opacity-0 scale-75;
    }

    @apply scale-100;
  }

  &__loading {
    #{$loading} & {
      @apply opacity-100 scale-100;
    }

    @apply transition-all absolute flex justify-center items-center top-0 right-0 bottom-0 left-0 opacity-0 scale-150 pointer-events-none;
  }

  @apply after:absolute after:-top-s after:-left-s after:-right-s after:-bottom-s;
  @apply select-none animate-none relative flex justify-center transition-all  appearance-none outline-none;
  @apply px-s py-xs rounded-md text-white ring-0 ring-brand-500;
  @apply focus:ring-2 focus:ring-brand-500;
  @apply active:scale-95;
}
