<div
  class="app-button"
  [class.app-button--focused]="focused"
  [class.app-button--style-filled-primary]="style === ButtonStyle.FilledPrimary"
  [class.app-button--style-filled-neutral]="style === ButtonStyle.FilledNeutral"
  [class.app-button--style-filled-danger]="style === ButtonStyle.FilledDanger"
  [class.app-button--style-text-neutral]="style === ButtonStyle.TextNeutral"
  [class.app-button--loading]="loadingStatus === 'loading'"
  [class.app-button--loading-error]="loadingStatus === 'error'"
  [class.app-button--loading-success]="loadingStatus === 'success'"
  [attr.disabled]="disabled || null"
>
  <div *ngIf="prefix" class="app-button__prefix">
    <ng-content select="fa-icon[appPrefix]"></ng-content>
  </div>

  <div class="app-button__loading">
    <app-loading-spinner
      class="app-button__loading-spinner"
      [color]="
        style == ButtonStyle.FilledDanger || style == ButtonStyle.FilledPrimary || style == ButtonStyle.FilledNeutral
          ? 'on-tint'
          : 'regular'
      "
    ></app-loading-spinner>
  </div>

  <div class="app-button__content">
    <ng-content></ng-content>
  </div>

  <div *ngIf="suffix" class="app-button__suffix">
    <ng-content select="fa-icon[appSuffix]"></ng-content>
  </div>
</div>
