/* global.css */
:root {
  // Color Palette
  // primary color
  --color-primary-50: 236, 254, 255;
  --color-primary-100: 207, 250, 254;
  --color-primary-200: 165, 243, 252;
  --color-primary-300: 103, 232, 249;
  --color-primary-400: 34, 211, 238;
  --color-primary-500: 6, 182, 212;
  --color-primary-600: 8, 145, 178;
  --color-primary-700: 14, 116, 144;
  --color-primary-800: 21, 94, 117;
  --color-primary-900: 22, 78, 99;
  // warning color
  --color-warning-50: 255, 251, 235;
  --color-warning-100: 254, 243, 199;
  --color-warning-200: 253, 230, 138;
  --color-warning-300: 252, 211, 77;
  --color-warning-400: 251, 191, 36;
  --color-warning-500: 245, 158, 11;
  --color-warning-600: 217, 119, 6;
  --color-warning-700: 180, 83, 9;
  --color-warning-800: 146, 64, 14;
  --color-warning-900: 120, 53, 15;
  // danger color
  --color-danger-50: 254, 242, 242;
  --color-danger-100: 254, 226, 226;
  --color-danger-200: 254, 202, 202;
  --color-danger-300: 252, 165, 165;
  --color-danger-400: 248, 113, 113;
  --color-danger-500: 239, 68, 68;
  --color-danger-600: 220, 38, 38;
  --color-danger-700: 185, 28, 28;
  --color-danger-800: 153, 27, 27;
  --color-danger-900: 127, 29, 29;
  // neutral color (Gray)
  --color-neutral-50: 249, 250, 251;
  --color-neutral-100: 243, 244, 246;
  --color-neutral-200: 229, 231, 235;
  --color-neutral-300: 209, 213, 219;
  --color-neutral-400: 156, 163, 175;
  --color-neutral-500: 107, 114, 128;
  --color-neutral-600: 75, 85, 99;
  --color-neutral-700: 55, 65, 81;
  --color-neutral-800: 31, 41, 55;
  --color-neutral-900: 17, 24, 39;
  // success color
  --color-success-50: 240, 253, 244;
  --color-success-100: 220, 252, 231;
  --color-success-200: 187, 247, 208;
  --color-success-300: 134, 239, 172;
  --color-success-400: 74, 222, 128;
  --color-success-500: 34, 197, 94;
  --color-success-600: 22, 163, 74;
  --color-success-700: 21, 128, 61;
  --color-success-800: 22, 101, 52;
  --color-success-900: 20, 83, 45;

  // THEME COLORS
  // background
  --color-background-primary: rgb(var(--color-neutral-200));
  --color-background-secondary: rgb(var(--color-neutral-100));
  --color-background-tertiary: rgb(var(--color-neutral-50));

  // label
  --color-label-primary: rgba(var(--color-neutral-900), 1);
  --color-label-secondary: rgba(var(--color-neutral-600), 0.9);
  --color-label-tertiary: rgba(var(--color-neutral-800), 0.5);
  --color-label-quaternary: rgba(var(--color-neutral-800), 0.3);
  --color-label-on-tint: rgba(var(--color-neutral-50), 1);

  // fill
  --color-fill-1: rgba(var(--color-neutral-700), 0.6);
  --color-fill-2: rgba(var(--color-neutral-700), 0.5);
  --color-fill-3: rgba(var(--color-neutral-700), 0.4);
  --color-fill-4: rgba(var(--color-neutral-700), 0.3);
  --color-fill-5: rgba(var(--color-neutral-700), 0.2);
  --color-fill-6: rgba(var(--color-neutral-700), 0.1);

  // tint
  --color-tint-primary-1: rgb(var(--color-primary-800), 1);
  --color-tint-primary-2: rgb(var(--color-primary-700), 1);
  --color-tint-primary-3: rgb(var(--color-primary-600), 1);
  --color-tint-primary-4: rgb(var(--color-primary-400), 1);
  --color-tint-primary-5: rgb(var(--color-primary-300), 1);
  --color-tint-primary-label: var(--color-tint-primary-2);
  // tint warning
  --color-tint-warning-1: rgb(var(--color-warning-800), 1);
  --color-tint-warning-2: rgb(var(--color-warning-700), 1);
  --color-tint-warning-3: rgb(var(--color-warning-600), 1);
  --color-tint-warning-4: rgb(var(--color-warning-300), 1);
  --color-tint-warning-5: rgb(var(--color-warning-200), 1);
  --color-tint-warning-label: var(--color-tint-warning-2);
  // tint danger
  --color-tint-danger-1: rgba(var(--color-danger-900), 1);
  --color-tint-danger-2: rgba(var(--color-danger-700), 1);
  --color-tint-danger-3: rgba(var(--color-danger-600), 1);
  --color-tint-danger-4: rgba(var(--color-danger-400), 1);
  --color-tint-danger-5: rgba(var(--color-danger-300), 1);
  --color-tint-danger-label: var(--color-tint-danger-3);
  // tint success
  --color-tint-success-1: rgba(var(--color-success-800), 1);
  --color-tint-success-2: rgba(var(--color-success-700), 1);
  --color-tint-success-3: rgba(var(--color-success-600), 1);
  --color-tint-success-4: rgba(var(--color-success-400), 1);
  --color-tint-success-5: rgba(var(--color-success-300), 1);
  --color-tint-success-label: var(--color-tint-success-2);
}
