/* global.css */
:root {
  // primary color
  --color-primary-50: theme('colors.primary.50');
  --color-primary-100: theme('colors.primary.100');
  --color-primary-200: theme('colors.primary.200');
  --color-primary-300: theme('colors.primary.300');
  --color-primary-400: theme('colors.primary.400');
  --color-primary-500: theme('colors.primary.500');
  --color-primary-600: theme('colors.primary.600');
  --color-primary-700: theme('colors.primary.700');
  --color-primary-800: theme('colors.primary.800');
  --color-primary-900: theme('colors.primary.900');
  // warning color
  --color-warning-50: theme('colors.warning.50');
  --color-warning-100: theme('colors.warning.100');
  --color-warning-200: theme('colors.warning.200');
  --color-warning-300: theme('colors.warning.300');
  --color-warning-400: theme('colors.warning.400');
  --color-warning-500: theme('colors.warning.500');
  --color-warning-600: theme('colors.warning.600');
  --color-warning-700: theme('colors.warning.700');
  --color-warning-800: theme('colors.warning.800');
  --color-warning-900: theme('colors.warning.900');
  // warning color
  --color-danger-50: #fef2f2;
  --color-danger-100: #fee2e2;
  --color-danger-200: 254, 202, 202;
  --color-danger-300: theme('colors.danger.300');
  --color-danger-400: theme('colors.danger.400');
  --color-danger-500: 239, 68, 68;
  --color-danger-600: theme('colors.danger.600');
  --color-danger-700: 185, 28, 28;
  --color-danger-800: theme('colors.danger.800');
  --color-danger-900: theme('colors.danger.900');

  // neutral color
  --color-neutral-50: 249, 250, 251;
  --color-neutral-100: 243, 244, 246;
  --color-neutral-200: 229, 231, 235;
  --color-neutral-300: 209, 213, 219;
  --color-neutral-400: 156, 163, 175;
  --color-neutral-500: 107, 114, 128;
  --color-neutral-600: 75, 85, 99;
  --color-neutral-700: 55, 65, 81;
  --color-neutral-800: 31, 41, 55;
  --color-neutral-900: 17, 24, 39;

  // background
  --color-background-primary: rgb(var(--color-neutral-200));
  --color-background-secondary: rgb(var(--color-neutral-100));
  --color-background-tertiary: rgb(var(--color-neutral-50));

  // label
  --color-label-primary: rgb(var(--color-neutral-900));
  --color-label-secondary: rgb(var(--color-neutral-500));
  --color-label-tertiary: rgb(var(--color-neutral-400));
  --color-label-quaternary: rgb(var(--color-neutral-300));

  // fill
  --color-fill-1: rgb(var(--color-neutral-700));
  --color-fill-2: rgb(var(--color-neutral-600));
  --color-fill-3: rgb(var(--color-neutral-500));
  --color-fill-4: rgb(var(--color-neutral-400));
  --color-fill-5: rgb(var(--color-neutral-300));
  --color-fill-6: rgb(var(--color-neutral-200));

  // tint
  --color-tint-blue: var(--color-primary-500);
  --color-tint-blue-soft: var(--color-primary-200);
  --color-tint-blue-strong: var(--color-primary-700);
  //
  --color-tint-warning: var(--color-warning-500);
  --color-tint-warning-soft: var(--color-warning-200);
  --color-tint-warning-strong: var(--color-warning-700);
  //
  --color-tint-danger: rgba(var(--color-danger-500), 0.8);
  --color-tint-danger-soft: rgba(var(--color-danger-200), 0.8);
  --color-tint-danger-strong: rgba(var(--color-danger-700), 0.8);
}

// Primary Colors
$PrimaryColor1: #e7effd;
$PrimaryColor2: #c3dcfd;
$PrimaryColor3: #9fc4fc;
$PrimaryColor4: #73a6f3;
$PrimaryColor5: #4b8ae9;
$PrimaryColor6: #2f70da;
$PrimaryColor7: #205ec3;
$PrimaryColor8: #174fa9;
$PrimaryColor9: #134293;
$PrimaryColor10: #113b80;

$PrimaryColorDisabled: $PrimaryColor4;
$PrimaryColorDefault: $PrimaryColor6;
$PrimaryColorHover: $PrimaryColor5;
$PrimaryColorActive: $PrimaryColor7;

// Gray-Colors
$Gray1: #f2f3f5;
$Gray2: #e7ebee;
$Gray3: #d4dae1;
$Gray4: #b9bec6;
$Gray5: #828a96;
$Gray6: #676f7b;
$Gray7: #556170;
$Gray8: #404b5a;
$Gray9: #2d3a4c;
$Gray10: #151d27;

// Signal Colors
$SignalColorInfo1: #e7effd;
$SignalColorInfo2: #9fc4fc;
$SignalColorInfo3: #2f70da;
$SignalColorInfo4: #205ec3;
$SignalColorInfo5: #174fa9;

$SignalColorSuccess1: rgb(237, 245, 207);
$SignalColorSuccess2: rgb(218, 236, 162);
$SignalColorSuccess3: rgb(156, 205, 1);
$SignalColorSuccess4: rgb(128, 167, 0);
$SignalColorSuccess5: rgb(114, 150, 0);

$SignalColorWarning1: rgb(254, 235, 210);
$SignalColorWarning2: rgb(254, 195, 142);
$SignalColorWarning3: rgb(253, 149, 8);
$SignalColorWarning4: rgb(208, 122, 5);
$SignalColorWarning5: rgb(185, 109, 6);

$SignalColorError1: rgb(255, 233, 235);
$SignalColorError2: rgb(255, 192, 195);
$SignalColorError3: rgb(255, 30, 38);
$SignalColorError4: rgb(186, 21, 28);
$SignalColorError5: rgb(116, 13, 18);

// Other
$White: #fff;
$BackgroundColor: #f6f9ff;
$BackgroundColor2: #fbfcff;
$BackdropColor: rgba(#2d3a4c, 0.5);

// Font-Colors
$FontColor1: $Gray4;
$FontColor2: $Gray5;
$FontColor3: $Gray7;
$FontColor4: $Gray9;

$FontColorDisabled: $FontColor1;
$FontColorInverted: $White;
