/* global.css */
@mixin themeDark {
  // background
  --color-background-primary: rgb(var(--color-neutral-900));
  --color-background-secondary: rgb(var(--color-neutral-800));
  --color-background-tertiary: rgb(var(--color-neutral-700));

  // label
  --color-label-primary: rgba(var(--color-neutral-50), 1);
  --color-label-secondary: rgba(var(--color-neutral-300), 0.8);
  --color-label-tertiary: rgba(var(--color-neutral-400), 0.5);
  --color-label-quaternary: rgba(var(--color-neutral-400), 0.3);
  --color-label-on-tint: rgba(var(--color-neutral-50), 0.9);

  // fill
  --color-fill-1: rgb(var(--color-neutral-300), 0.6);
  --color-fill-2: rgb(var(--color-neutral-300), 0.5);
  --color-fill-3: rgb(var(--color-neutral-300), 0.4);
  --color-fill-4: rgb(var(--color-neutral-300), 0.3);
  --color-fill-5: rgb(var(--color-neutral-300), 0.2);
  --color-fill-6: rgb(var(--color-neutral-300), 0.1);

  // tint
  // primary
  --color-tint-primary-1: rgb(var(--color-primary-400), 1);
  --color-tint-primary-2: rgb(var(--color-primary-500), 1);
  --color-tint-primary-3: rgb(var(--color-primary-500), 0.8);
  --color-tint-primary-4: rgb(var(--color-primary-500), 0.5);
  --color-tint-primary-5: rgb(var(--color-primary-500), 0.4);
  --color-tint-primary-label: var(--color-tint-primary-1);
  // warning
  --color-tint-warning-1: rgb(var(--color-warning-400), 1);
  --color-tint-warning-2: rgb(var(--color-warning-500), 1);
  --color-tint-warning-3: rgb(var(--color-warning-500), 0.8);
  --color-tint-warning-4: rgb(var(--color-warning-500), 0.5);
  --color-tint-warning-5: rgb(var(--color-warning-500), 0.4);
  --color-tint-warning-label: var(--color-tint-warning-1);
  // danger
  --color-tint-danger-1: rgba(var(--color-danger-400), 1);
  --color-tint-danger-2: rgba(var(--color-danger-500), 1);
  --color-tint-danger-3: rgba(var(--color-danger-500), 0.8);
  --color-tint-danger-4: rgba(var(--color-danger-500), 0.5);
  --color-tint-danger-5: rgba(var(--color-danger-500), 0.4);
  --color-tint-danger-label: var(--color-tint-danger-1);
  // success
  --color-tint-success-1: rgb(var(--color-success-400), 1);
  --color-tint-success-2: rgb(var(--color-success-500), 1);
  --color-tint-success-3: rgb(var(--color-success-500), 0.8);
  --color-tint-success-4: rgb(var(--color-success-500), 0.5);
  --color-tint-success-5: rgb(var(--color-success-500), 0.4);
  --color-tint-success-label: var(--color-tint-success-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include themeDark();
  }
}

.app-theme-dark {
  @include themeDark();
}
