.app-theme-light {
  // primary
  // bg
  --color-primaryBg: var(--color-primary-300);
  --color-primaryBgSoft: var(--color-primary-200);
  --color-primaryBgSofter: var(--color-primary-100);
  // regular
  --color-primarySoft: var(--color-primary-400);
  --color-primary: var(--color-primary-500);
  --color-primaryBold: var(--color-primary-600);
  // text
  --color-onPrimaryBgSofter: var(--color-primary-700);
  --color-onPrimaryBgSoft: var(--color-primary-800);
  --color-onPrimaryBg: var(--color-primary-900);
  --color-onPrimary: var(--color-primary-50);
  // Neutral
  // bg
  --color-neutralBg: var(--color-neutral-300);
  --color-neutralBgSoft: var(--color-neutral-200);
  --color-neutralBgSofter: var(--color-neutral-100);
  // regular
  --color-neutralSoft: var(--color-neutral-400);
  --color-neutral: var(--color-neutral-500);
  --color-neutralBold: var(--color-neutral-600);
  // text
  --color-onNeutralBgSofter: var(--color-neutral-700);
  --color-onNeutralBgSoft: var(--color-neutral-800);
  --color-onNeutralBg: var(--color-neutral-900);
  --color-onNeutral: var(--color-neutral-50);
  //
  --color-focus: var(--color-primary-600);
  --color-focus-soft: var(--color-primary-200);
}
