<div class="bg-background-secondary text-label-primary shadow-2xl max-w-4xl p-gutter rounded-xl space-y-m">
  <h2 class="text-center text-xl font-bold">{{ options?.title }}</h2>
  <p>{{ options?.message }}</p>

  <div class="flex space-x-s">
    <button
      class="flex-grow w-0"
      *ngFor="let action of options?.actions"
      app-button
      [loadingState]="action.state"
      [style]="action.style || ButtonStyle.FilledNeutral"
      (click)="onAction(action)"
    >
      <fa-icon [icon]="action.icon" *ngIf="action.icon"></fa-icon>
      {{ action.content }}
    </button>
  </div>
</div>
