<app-card>
  <h2 class="text-center text-xl font-bold">{{ options?.title }}</h2>
  <p>{{ options?.message }}</p>

  <div class="flex space-x-s">
    <button
      class="flex-grow w-0"
      *ngFor="let action of options?.actions"
      app-button
      [loadingState]="action.state"
      [style]="action.style || 'filled-neutral'"
      (click)="onAction(action)"
    >
      <fa-icon [icon]="action.icon" *ngIf="action.icon"></fa-icon>
      {{ action.content }}
    </button>
  </div>
</app-card>
