@import '../../../../../variables';

:host {
  display: block;
}

.app-text {
  &__container {
    display: block;
    font-family: $FontFamilyDefault;

    &::before {
      content: '';
      display: table;
      /* stylelint-disable-next-line unit-blacklist */
      margin-bottom: -0.1875em;
    }

    &::after {
      content: '';
      display: table;
        /* stylelint-disable-next-line unit-blacklist */
      margin-top: -0.25em;
    }
  }
}
