@import 'variables';

.app-form-field {
  $focused: #{&}--focused;
  $disabled: #{&}--disabled;
  $error: #{&}--error;

  &__label {
    ::ng-deep label {
      @apply transition;
    }
    #{$disabled} & {
      ::ng-deep label {
        @apply opacity-40;
      }
    }

    #{$error} & {
      ::ng-deep label {
        @apply text-tint-danger-label;
      }
    }

    @apply mb-xs;
  }

  &__box {
    ::ng-deep [appSuffix],
    ::ng-deep [appPrefix] {
      #{$focused} & {
        @apply text-label-primary;
      }

      @apply text-label-secondary transition;
    }

    #{$error} & {
      @apply border-tint-danger-3;
    }

    #{$focused} & {
      @apply ring-4 ring-tint-primary-4 border-tint-primary-2 bg-fill-5;
    }

    #{$focused}#{$error} & {
      @apply ring-tint-danger-4 border-tint-danger-2;
    }

    #{$disabled} & {
      @apply opacity-40;
    }

    &-input {
      ::ng-deep [appFormInput] {
        #{$focused} & {
          @apply text-label-primary;
        }

        @apply text-label-secondary placeholder-label-secondary transition bg-transparent w-full h-full;
      }

      @apply px-0 py-xxs flex-grow flex-shrink-0 flex;
    }

    @apply flex ring-0 box-border h-l py-0 px-s text-base text-label-primary border border-fill-3 rounded-md bg-fill-6 transition duration-300;
  }

  &__hints {
    #{$disabled} & {
      @apply opacity-40;
    }

    @apply mt-xs mb-l;
  }
}
