@import 'variables';

.app-form-field {
  $focused: #{&}--focused;
  $disabled: #{&}--disabled;
  $error: #{&}--error;

  &__label {
    ::ng-deep label {
      @apply transition;
    }
    #{$disabled} & {
      ::ng-deep label {
        @apply opacity-25;
      }
    }

    #{$error} & {
      ::ng-deep label {
        @apply text-tint-danger;
      }
    }

    @apply mb-xs;
  }

  &__box {
    #{$error} & {
      @apply border-tint-danger;
    }

    #{$focused} & {
      @apply ring-4 ring-tint-blue-soft border-tint-blue bg-fill-5;
    }

    #{$focused}#{$error} & {
      @apply ring-tint-danger-soft border-tint-danger;
    }

    #{$disabled} & {
      @apply opacity-25;
    }

    &-input {
      ::ng-deep [appFormInput] {
        @apply placeholder-label-secondary bg-transparent w-full h-full;
      }

      @apply px-0 py-xxs flex-grow flex-shrink-0 flex;
    }

    @apply flex ring-0 box-border h-l py-0 px-s text-base text-label-primary border border-fill-3 rounded-md bg-fill-6 transition duration-300;
  }

  &__hints {
    #{$disabled} & {
      @apply opacity-25;
    }

    @apply mt-xs mb-l;
  }
}
