@import 'variables';

:host {
  display: block;
  padding: 0;
  color: inherit;
  font-size: inherit;
  border: none;
  background: none;
  background-color: transparent;
  appearance: none;

  &:focus {
    outline: none;
  }
}
