<div
  class="app-form-field"
  [class.app-form-field--focused]="isFocused"
  [class.app-form-field--disabled]="isDisabled"
  [class.app-form-field--error]="errors?.length"
>
  <div *ngIf="label" class="app-form-field__label">
    <ng-content select="app-label"></ng-content>
  </div>

  <div class="app-form-field__box">
    <div *ngIf="prefix" class="pr-xs inline-flex items-center">
      <ng-content select="[appPrefix]"> </ng-content>
    </div>
    <div class="app-form-field__box-input">
      <ng-content select="[appFormInput]"> </ng-content>
    </div>
    <div *ngIf="suffix" class="pl-xs space-x-xs inline-flex items-center">
      <ng-content select="[appSuffix]"> </ng-content>
    </div>
  </div>

  <div *ngIf="errors?.length || hints?.length" class="app-form-field__hints">
    <div *ngIf="!errors?.length && hints?.length" class="flex space-x-xs">
      <ng-content select="app-hint"></ng-content>
    </div>

    <div *ngIf="errors?.length" class="flex space-x-xs">
      <ng-content select="app-error"></ng-content>
    </div>
  </div>
</div>
