@import 'variables';

// scaling... any units
$width: $SizeMedium;

:host {
  display: block;
}

.app-loader {
  position: relative;
  width: $width;
  margin: 0 auto;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &__path {
    stroke-linecap: round;
    stroke-dasharray: 20, 200;
    stroke-dashoffset: 0;

    &--primary {
      @apply text-tint-primary-3;
    }

    &--on-tint {
      @apply text-label-on-tint;
    }

    &--regular {
      @apply text-label-primary;
    }

    @apply stroke-current;
  }

  &__circular {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    transform-origin: center center;
    animation: rotateAnimation 0.4s linear infinite;
  }
}

@keyframes rotateAnimation {
  100% {
    transform: rotate(360deg);
  }
}
