@import '../../../../../variables';

:host {
  display: block;
}

.layout-divider {
  border-top: solid $SizeBorderRegular $Gray5;

  &::before {
    content: '';
    display: table;
    margin-bottom: -$SizeBorderRegular;
  }
}
