<main class="space-y-gutter">
  <section class="text-label-primary space-y-m">
    <h1 class="text-lg">Background Colors</h1>
    <div class="flex space-x-gutter">
      <div class="bg-background-primary shadow-md rounded h-xxl p-xs">background-primary</div>
      <div class="bg-background-secondary shadow-md rounded h-xxl p-xs">background-secondary</div>
      <div class="bg-background-tertiary shadow-md rounded h-xxl p-xs">background-tertiary</div>
    </div>
  </section>

  <section class="text-label-primary space-y-xs">
    <h1 class="text-lg">Fill Colors</h1>
    <div class="flex p-s rounded bg-background-primary">
      <div class="bg-fill-1 h-xxl p-xs">fill-1</div>
      <div class="bg-fill-2 h-xxl p-xs">fill-2</div>
      <div class="bg-fill-3 h-xxl p-xs">fill-3</div>
      <div class="bg-fill-4 h-xxl p-xs">fill-4</div>
      <div class="bg-fill-5 h-xxl p-xs">fill-5</div>
      <div class="bg-fill-6 rounded h-xxl p-xs">fill-6</div>
    </div>
    <div class="flex p-s rounded bg-background-secondary">
      <div class="bg-fill-1 h-xxl p-xs">fill-1</div>
      <div class="bg-fill-2 h-xxl p-xs">fill-2</div>
      <div class="bg-fill-3 h-xxl p-xs">fill-3</div>
      <div class="bg-fill-4 h-xxl p-xs">fill-4</div>
      <div class="bg-fill-5 h-xxl p-xs">fill-5</div>
      <div class="bg-fill-6 h-xxl p-xs">fill-6</div>
    </div>
    <div class="flex p-s rounded bg-background-tertiary">
      <div class="bg-fill-1 h-xxl p-xs">fill-1</div>
      <div class="bg-fill-2 h-xxl p-xs">fill-2</div>
      <div class="bg-fill-3 h-xxl p-xs">fill-3</div>
      <div class="bg-fill-4 h-xxl p-xs">fill-4</div>
      <div class="bg-fill-5 h-xxl p-xs">fill-5</div>
      <div class="bg-fill-6 h-xxl p-xs">fill-6</div>
    </div>
  </section>

  <section class="text-label-primary space-y-xs">
    <h1 class="text-lg">Tint</h1>
    <div class="flex p-s rounded bg-background-primary">
      <div class="bg-tint-danger-1 h-xxl p-xs">danger 1</div>
      <div class="bg-tint-danger-2 h-xxl p-xs">danger 2</div>
      <div class="bg-tint-danger-3 h-xxl p-xs">danger 3</div>
      <div class="bg-tint-danger-4 h-xxl p-xs">danger 4</div>
      <div class="bg-tint-danger-5 h-xxl p-xs">danger 5</div>
    </div>
    <div class="flex p-s rounded bg-background-secondary">
      <div class="bg-tint-danger-1 h-xxl p-xs">danger 1</div>
      <div class="bg-tint-danger-2 h-xxl p-xs">danger 2</div>
      <div class="bg-tint-danger-3 h-xxl p-xs">danger 3</div>
      <div class="bg-tint-danger-4 h-xxl p-xs">danger 4</div>
      <div class="bg-tint-danger-5 h-xxl p-xs">danger 5</div>
    </div>
    <div class="flex p-s rounded bg-background-tertiary">
      <div class="bg-tint-danger-1 h-xxl p-xs">danger 1</div>
      <div class="bg-tint-danger-2 h-xxl p-xs">danger 2</div>
      <div class="bg-tint-danger-3 h-xxl p-xs">danger 3</div>
      <div class="bg-tint-danger-4 h-xxl p-xs">danger 4</div>
      <div class="bg-tint-danger-5 h-xxl p-xs">danger 5</div>
    </div>
  </section>

  <section class="text-label-primary space-y-xs">
    <h1 class="text-lg">Tint</h1>
    <div class="flex p-s rounded bg-background-primary">
      <div class="bg-tint-primary-1 h-xxl p-xs">primary 1</div>
      <div class="bg-tint-primary-2 h-xxl p-xs">primary 2</div>
      <div class="bg-tint-primary-3 h-xxl p-xs">primary 3</div>
      <div class="bg-tint-primary-4 h-xxl p-xs">primary 4</div>
      <div class="bg-tint-primary-5 h-xxl p-xs">primary 5</div>
    </div>
    <div class="flex p-s rounded bg-background-secondary">
      <div class="bg-tint-primary-1 h-xxl p-xs">primary 1</div>
      <div class="bg-tint-primary-2 h-xxl p-xs">primary 2</div>
      <div class="bg-tint-primary-3 h-xxl p-xs">primary 3</div>
      <div class="bg-tint-primary-4 h-xxl p-xs">primary 4</div>
      <div class="bg-tint-primary-5 h-xxl p-xs">primary 5</div>
    </div>
    <div class="flex p-s rounded bg-background-tertiary">
      <div class="bg-tint-primary-1 h-xxl p-xs">primary 1</div>
      <div class="bg-tint-primary-2 h-xxl p-xs">primary 2</div>
      <div class="bg-tint-primary-3 h-xxl p-xs">primary 3</div>
      <div class="bg-tint-primary-4 h-xxl p-xs">primary 4</div>
      <div class="bg-tint-primary-5 h-xxl p-xs">primary 5</div>
    </div>
  </section>

  <section class="text-label-primary space-y-xs">
    <h1 class="text-lg">Tint</h1>
    <div class="flex p-s rounded bg-background-primary">
      <div class="bg-tint-warning-1 h-xxl p-xs">warning 1</div>
      <div class="bg-tint-warning-2 h-xxl p-xs">warning 2</div>
      <div class="bg-tint-warning-3 h-xxl p-xs">warning 3</div>
      <div class="bg-tint-warning-4 h-xxl p-xs">warning 4</div>
      <div class="bg-tint-warning-5 h-xxl p-xs">warning 5</div>
    </div>
    <div class="flex p-s rounded bg-background-secondary">
      <div class="bg-tint-warning-1 h-xxl p-xs">warning 1</div>
      <div class="bg-tint-warning-2 h-xxl p-xs">warning 2</div>
      <div class="bg-tint-warning-3 h-xxl p-xs">warning 3</div>
      <div class="bg-tint-warning-4 h-xxl p-xs">warning 4</div>
      <div class="bg-tint-warning-5 h-xxl p-xs">warning 5</div>
    </div>
    <div class="flex p-s rounded bg-background-tertiary">
      <div class="bg-tint-warning-1 h-xxl p-xs">warning 1</div>
      <div class="bg-tint-warning-2 h-xxl p-xs">warning 2</div>
      <div class="bg-tint-warning-3 h-xxl p-xs">warning 3</div>
      <div class="bg-tint-warning-4 h-xxl p-xs">warning 4</div>
      <div class="bg-tint-warning-5 h-xxl p-xs">warning 5</div>
    </div>
  </section>

  <section class="text-label-primary space-y-xs">
    <h1 class="text-lg">Tint</h1>
    <div class="flex p-s rounded bg-background-primary">
      <div class="bg-tint-success-1 h-xxl p-xs">success 1</div>
      <div class="bg-tint-success-2 h-xxl p-xs">success 2</div>
      <div class="bg-tint-success-3 h-xxl p-xs">success 3</div>
      <div class="bg-tint-success-4 h-xxl p-xs">success 4</div>
      <div class="bg-tint-success-5 h-xxl p-xs">success 5</div>
    </div>
    <div class="flex p-s rounded bg-background-secondary">
      <div class="bg-tint-success-1 h-xxl p-xs">success 1</div>
      <div class="bg-tint-success-2 h-xxl p-xs">success 2</div>
      <div class="bg-tint-success-3 h-xxl p-xs">success 3</div>
      <div class="bg-tint-success-4 h-xxl p-xs">success 4</div>
      <div class="bg-tint-success-5 h-xxl p-xs">success 5</div>
    </div>
    <div class="flex p-s rounded bg-background-tertiary">
      <div class="bg-tint-success-1 h-xxl p-xs">success 1</div>
      <div class="bg-tint-success-2 h-xxl p-xs">success 2</div>
      <div class="bg-tint-success-3 h-xxl p-xs">success 3</div>
      <div class="bg-tint-success-4 h-xxl p-xs">success 4</div>
      <div class="bg-tint-success-5 h-xxl p-xs">success 5</div>
    </div>
  </section>

  <section class="text-label-primary space-y-m">
    <h1 class="text-lg">Label Colors</h1>
    <div class="flex space-x-s">
      <div class="space-y-gutter p-m rounded bg-background-primary">
        <div class="text-label-primary">label-primary</div>
        <div class="text-label-secondary">label-secondary</div>
        <div class="text-label-tertiary">label-tertiary</div>
        <div class="text-label-quaternary">label-quaternary</div>
      </div>
      <div class="space-y-gutter p-m rounded bg-background-secondary">
        <div class="text-label-primary">label-primary</div>
        <div class="text-label-secondary">label-secondary</div>
        <div class="text-label-tertiary">label-tertiary</div>
        <div class="text-label-quaternary">label-quaternary</div>
      </div>
      <div class="space-y-gutter p-m rounded bg-background-tertiary">
        <div class="text-label-primary">label-primary</div>
        <div class="text-label-secondary">label-secondary</div>
        <div class="text-label-tertiary">label-tertiary</div>
        <div class="text-label-quaternary">label-quaternary</div>
      </div>
      <div class="space-y-gutter p-m rounded bg-background-tertiary">
        <div class="text-tint-primary-label">tint primary label</div>
        <div class="text-tint-danger-label">tint danger label</div>
        <div class="text-tint-warning-label">tint warning label</div>
        <div class="text-tint-success-label">tint success label</div>
      </div>
    </div>
  </section>
</main>
