<div class="space-y-s md:w-1/2">
  <h1 class="text-lg">Buttons</h1>
  <div class="space-x-gutter p-l rounded-lg bg-background-tertiary flex">
    <button app-button [style]="ButtonStyle.TextNeutral">Text</button>
    <button app-button [style]="ButtonStyle.TextNeutral" [loadingState]="loadingState" (click)="buttonClick()">
      Loading
    </button>
    <button app-button [style]="ButtonStyle.TextNeutral" [disabled]="true">disabled</button>
  </div>

  <div class="space-x-gutter p-l rounded-lg bg-background-tertiary flex">
    <button app-button>
      <fa-icon appPrefix [icon]="icons.faAddressBook"></fa-icon> Filled
      <fa-icon appSuffix [icon]="icons.faPlaceOfWorship"></fa-icon>
    </button>
    <button app-button [loadingState]="loadingState" (click)="buttonClick()">
      <fa-icon appPrefix [icon]="icons.faAddressBook"></fa-icon> Loading
    </button>
    <button app-button [disabled]="true">disabled</button>
  </div>

  <div class="space-x-gutter p-l rounded-lg bg-background-tertiary flex">
    <button app-button [style]="ButtonStyle.FilledPrimary">Primary</button>
    <button app-button [style]="ButtonStyle.FilledPrimary" [loadingState]="loadingState" (click)="buttonClick()">
      Loading
    </button>
    <button app-button [style]="ButtonStyle.FilledPrimary" [disabled]="true">disabled</button>
  </div>

  <div class="space-x-gutter p-l rounded-lg bg-background-tertiary flex">
    <button app-button [style]="ButtonStyle.FilledDanger">
      Danger <fa-icon appSuffix [icon]="icons.faTrash"></fa-icon>
    </button>
    <button app-button [style]="ButtonStyle.FilledDanger" [loadingState]="loadingState" (click)="buttonClick()">
      Loading
    </button>
    <button app-button [style]="ButtonStyle.FilledDanger" [disabled]="true">disabled</button>
  </div>
</div>

<div class="space-y-gutter mt-xl">
  <div class="space-y-gutter p-l rounded-lg bg-background-tertiary">
    <div class="space-x-gutter">
      <app-form-field>
        <app-label> Testfeld </app-label>

        <input appFormInput type="password" [value]="'test'" autocomplete="current-password" />
        <span appSuffix>mm</span>
        <fa-icon appSuffix [icon]="icons.faLock"></fa-icon>
      </app-form-field>

      <app-form-field>
        <app-label> Testfeld </app-label>
        <input appFormInput autocomplete="current-password" />
        <app-hint> Dies ist ein Hinweis</app-hint>
      </app-form-field>
      <app-form-field>
        <app-label> Testfeld </app-label>
        <input appFormInput type="password" autocomplete="current-password" />
        <app-error> Dies ist ein Fehler</app-error>
        <app-hint> Dies ist ein Hinweis</app-hint>
      </app-form-field>
      <app-form-field>
        <app-label> Testfeld disabled </app-label>
        <input appFormInput type="password" value="test" autocomplete="current-password" [disabled]="true" />
        <app-error> Dies ist ein Fehler</app-error>
      </app-form-field>
    </div>
    <div class="flex justify-end space-x-m">
      <button tabindex="0" [style]="ButtonStyle.TextNeutral" type="submit" app-button>abbrechen</button>
      <button tabindex="0" app-button>abbrechen</button>
      <button tabindex="0" [style]="ButtonStyle.FilledPrimary" app-button>speichern</button>
    </div>
  </div>
</div>

<div class="space-y-gutter mt-gutter">
  <h1 class="text-lg">Alert</h1>

  <app-alert>
    <div class="flex justify-between items-center">Test Message <button tabindex="0" app-button>OK</button></div>
  </app-alert>
  <app-alert [style]="'danger'">
    <div class="flex justify-between items-center">Test Message <button tabindex="0" app-button>OK</button></div>
  </app-alert>
  <app-alert [style]="'warning'">
    <div class="flex justify-between items-center">Test Message <button tabindex="0" app-button>OK</button></div>
  </app-alert>
  <app-alert [style]="'success'">
    <div class="flex justify-between items-center">Test Message <button tabindex="0" app-button>OK</button></div>
  </app-alert>
  <app-alert [style]="'primary'">
    <div class="flex justify-between items-center">Test Message <button tabindex="0" app-button>OK</button></div>
  </app-alert>
</div>

<div class="space-y-gutter mt-gutter">
  <h1 class="text-lg">Overlays</h1>
  <div class="flex justify-end space-x-m p-xs rounded bg-background-tertiary">
    <button app-button (click)="open()">dialog</button>
    <button app-button (click)="addToast()">toast</button>
  </div>
</div>
