<div class="space-y-xl md:w-1/2">
  <div class="space-y-s">
    <div class="flex space-x-gutter p-l rounded-lg bg-neutral-bg-softer">
      <button app-button [style]="'text'">
        <fa-icon appPrefix [icon]="icons.faAd"></fa-icon> Test ? <fa-icon appSuffix [icon]="icons.faAd"></fa-icon>
      </button>
      <button app-button [style]="'text'" [loadingStatus]="loadingState" (click)="buttonClick()">Loading</button>
      <button app-button [style]="'text'" [disabled]="true">disabled</button>
    </div>

    <div class="space-x-gutter p-l rounded-lg bg-neutral-bg-soft">
      <button app-button [style]="'text'">
        <fa-icon appPrefix [icon]="icons.faAd"></fa-icon> Test ? <fa-icon appSuffix [icon]="icons.faAd"></fa-icon>
      </button>
      <button app-button [style]="'text'" [loadingStatus]="loadingState" (click)="buttonClick()">Loading</button>
      <button app-button [style]="'text'" [disabled]="true">disabled</button>
    </div>

    <div class="space-x-gutter p-l rounded-lg bg-neutral-bg border-neutral border">
      <button app-button [style]="'text'">
        <fa-icon appPrefix [icon]="icons.faAd"></fa-icon> Test ? <fa-icon appSuffix [icon]="icons.faAd"></fa-icon>
      </button>
      <button app-button [style]="'text'" [loadingStatus]="loadingState" (click)="buttonClick()">Loading</button>
      <button app-button [style]="'text'" [disabled]="true">disabled</button>
    </div>
  </div>

  <div class="space-y-s">
    <div class="flex space-x-gutter p-l rounded-lg bg-neutral-bg-softer">
      <button app-button>
        <fa-icon appPrefix [icon]="icons.faAd"></fa-icon> Test ? <fa-icon appSuffix [icon]="icons.faAd"></fa-icon>
      </button>
      <button app-button [loadingStatus]="loadingState" (click)="buttonClick()">Loading</button>
      <button app-button [disabled]="true">disabled</button>
    </div>

    <div class="space-x-gutter p-l rounded-lg bg-neutral-bg-soft">
      <button app-button>
        <fa-icon appPrefix [icon]="icons.faAd"></fa-icon> Test ? <fa-icon appSuffix [icon]="icons.faAd"></fa-icon>
      </button>
      <button app-button [loadingStatus]="loadingState" (click)="buttonClick()">Loading</button>
      <button app-button [disabled]="true">disabled</button>
    </div>

    <div class="space-x-gutter p-l rounded-lg bg-neutral-bg border-neutral border">
      <button app-button>
        <fa-icon appPrefix [icon]="icons.faAd"></fa-icon> Test ? <fa-icon appSuffix [icon]="icons.faAd"></fa-icon>
      </button>
      <button app-button [loadingStatus]="loadingState" (click)="buttonClick()">Loading</button>
      <button app-button [disabled]="true">disabled</button>
    </div>
  </div>

  <div class="space-y-s">
    <div class="flex space-x-gutter p-l rounded-lg bg-neutral-bg-softer">
      <button app-button [color]="'primary'">
        <fa-icon appPrefix [icon]="icons.faAd"></fa-icon> Test ? <fa-icon appSuffix [icon]="icons.faAd"></fa-icon>
      </button>
      <button app-button [color]="'primary'" [loadingStatus]="loadingState" (click)="buttonClick()">Loading</button>
      <button app-button [color]="'primary'" [disabled]="true">disabled</button>
    </div>

    <div class="space-x-gutter p-l rounded-lg bg-neutral-bg-soft">
      <button app-button [color]="'primary'">
        <fa-icon appPrefix [icon]="icons.faAd"></fa-icon> Test ? <fa-icon appSuffix [icon]="icons.faAd"></fa-icon>
      </button>
      <button app-button [color]="'primary'" [loadingStatus]="loadingState" (click)="buttonClick()">Loading</button>
      <button app-button [color]="'primary'" [disabled]="true">disabled</button>
    </div>

    <div class="space-x-gutter p-l rounded-lg bg-neutral-bg border-neutral border">
      <button app-button [color]="'primary'">
        <fa-icon appPrefix [icon]="icons.faAd"></fa-icon> Test ? <fa-icon appSuffix [icon]="icons.faAd"></fa-icon>
      </button>
      <button app-button [color]="'primary'" [loadingStatus]="loadingState" (click)="buttonClick()">Loading</button>
      <button app-button [color]="'primary'" [disabled]="true">disabled</button>
    </div>
  </div>
</div>

<div class="space-y-gutter mt-xl">
  <div class="space-y-gutter p-l rounded-lg bg-neutral-bg-softer">
    <div class="space-x-gutter">
      <app-form-field>
        <app-label> Testfeld </app-label>
        <fa-icon appPrefix [icon]="icons.faAd"></fa-icon>
        <input appFormInput type="password" [value]="'test'" autocomplete="current-password" />
        <span appSuffix>mm</span>
        <fa-icon appSuffix [icon]="icons.faLock"></fa-icon>
      </app-form-field>

      <app-form-field>
        <app-label> Testfeld </app-label>
        <input appFormInput autocomplete="current-password" />
        <app-hint> Dies ist ein Hinweis</app-hint>
      </app-form-field>
      <app-form-field>
        <app-label> Testfeld </app-label>
        <input appFormInput type="password" autocomplete="current-password" />
        <app-error> Dies ist ein Fehler</app-error>
        <app-hint> Dies ist ein Hinweis</app-hint>
      </app-form-field>
      <app-form-field>
        <app-label> Testfeld disabled </app-label>
        <input appFormInput type="password" value="test" autocomplete="current-password" [disabled]="true" />
      </app-form-field>
    </div>
    <div class="flex justify-end space-x-m">
      <button tabindex="0" [style]="'text'" type="submit" app-button>abbrechen</button>
      <button tabindex="0" [color]="'regular'" app-button>abbrechen</button>
      <button tabindex="0" [color]="'primary'" app-button (click)="open()">speichern</button>
    </div>
  </div>
</div>
