// variables
@import 'variables';
@import 'variables/light.theme.scss';
@import 'variables/dark.theme.scss';
// tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
//cdk
@import '~@angular/cdk/overlay-prebuilt.css';

body {
  margin: 0;
  padding: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);

  &.dark-backdrop {
    background: rgba(0, 0, 0, 0.7);
  }
}
