@import '../../../../../variables';

:host {
  display: block;
}
:host.space-xx-small {
  ::ng-deep > *:not(:first-child) {
    margin-top: $SizeXXSmall;
  }
}

:host.space-x-small {
  ::ng-deep > *:not(:first-child) {
    margin-top: $SizeXSmall;
  }
}

:host.space-gutter {
  ::ng-deep > *:not(:first-child) {
    margin-top: $SizeGutter;
  }
}

:host.space-small {
  ::ng-deep > *:not(:first-child) {
    margin-top: $SizeSmall;
  }
}

:host.space-medium {
  ::ng-deep > *:not(:first-child) {
    margin-top: $SizeMedium;
  }
}

:host.space-large {
  ::ng-deep > *:not(:first-child) {
    margin-top: $SizeLarge;
  }
}

:host.space-x-large {
  ::ng-deep > *:not(:first-child) {
    margin-top: $SizeXLarge;
  }
}

:host.space-xx-large {
  ::ng-deep > *:not(:first-child) {
    margin-top: $SizeXXLarge;
  }
}
