@import 'variables';

:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: $ContentMaxWidth;
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(env(safe-are-inset-right, 0rem) + #{$SizeRegular});
  padding-left: calc(env(safe-are-inset-left, 0rem) + #{$SizeRegular});
}

:host-context(.flexible) {
  max-width: none;
}

.ck-page-content {
  height: 100%;
}
